In [33]:
#https://github.com/KeithGalli/Pandas-Data-Science-Tasks/blob/master/Misc/create_data.py
import pandas as pd
import numpy as np
import datetime
import random

In [10]:
columns = ['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

In [11]:
products = {
    # Product: [Price, weight]
    'iPhone': [700, 10], 
    'Google Phone': [600, 8],
    'Vareebadd Phone': [400, 3],
    '20in Monitor': [109.99,6],
    '34in Ultrawide Monitor': [379.99, 9],
    '27in 4K Gaming Monitor': [389.99,9],
    '27in FHD Monitor': [149.99, 11],
    'Flatscreen TV': [300, 7],
    'Macbook Pro Laptop': [1700, 7],
    'ThinkPad Laptop': [999.99, 6],
    'AA Batteries (4-pack)': [3.84, 30],
    'AAA Batteries (4-pack)': [2.99, 30],
    'USB-C Charging Cable': [11.95, 30],
    'Lightning Charging Cable': [14.95, 30],
    'Wired Headphones': [11.99, 26],
    'Bose SoundSport Headphones': [99.99, 19],
    'Apple Airpods Headphones': [150, 22],
    'LG Washing Machine': [600.00, 1],
    'LG Dryer': [600.00, 1]
}

In [12]:
df = pd.DataFrame(columns=columns)

In [29]:
for i in range(1000):
    product_list = [product for product in products]
    weights = [products[product][1] for product in products]
    
    product = random.choices(product_list, weights)[0]
    price = products[product]
    df.loc[i] = [i, product, 1, price[0], "NA", "NA"]

In [30]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,Bose SoundSport Headphones,1,99.99,NA,NA
1,1,Apple Airpods Headphones,1,150,NA,NA
2,2,AA Batteries (4-pack),1,3.84,NA,NA
3,3,Wired Headphones,1,11.99,NA,NA
4,4,USB-C Charging Cable,1,11.95,NA,NA

In [31]:
columns1 = ['grade', 'hours', 'logins', 'qual']

In [32]:
# grade 
# hours - the number of hours on average a student studies per week 
# login - number of times they log onto Moodle in the first three weeks of term 
# qual - highest degree 

# grade - int 0-100
# hours - non-negative real number with two decimal places
# logins - non-negative real number 
# qual - categorical variable with four possible values: none, bachelors, masters, or phd.

In [ ]:
# Proportion in class
{
    "none": 5,
    "bachelors": 60,
    "masters": 20,
    "phd": 10,
}

# logins first 3 weeks. 
{
    "none": 3,
    "bachelors": 5,
    "masters": 4,
    "phd": 4,
}

# Mean: Hours of study and SD by each qual NORMAL
{
    "none": [2, 0.5],
    "bachelors": [3, 1],
    "masters": [4, 0.25],
    "phd": [4, 0.25],
}